name: linux-vnc
on: 
  workflow_dispatch:
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Setup enviornment
      env: # Or as an environment variable
        EMAIL: ${{ secrets.EMAIL }}
        RCLNCNF: ${{ secrets.RCLNCNF }}
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        VNC_PASSWORD: ${{ secrets.VNC_PASSWORD }}
      run: |
        source script-linux.sh
        source script-linux-vnc.sh "$VNC_PASSWORD" "$NGROK_AUTH_TOKEN"

    - name: Listening to VNC connection on...
      run: sudo awk -F "url=tcp://" '{print $2}' ~/ngrok.log # curl --silent http://127.0.0.1:4043/api/tunnels | jq '.tunnels[0].public_url'

    - name: Setup upterm session
      uses: owenthereal/action-upterm@v1
      #if: ${{ failure() }}
      with:
        limit-access-to-actor: true
        ## Shut down the server if unconnected after 5 minutes.
        #wait-timeout-minutes: 10
